.sidebar aside {
  width: 300px;
  height: 100vh;
  background-color: var(--normal-gray);
  flex: none;
  position: relative;
  transition: all 0.3s;
}

.sidebar__icon aside {
  width: 59px;
  height: 100vh;
  background-color: var(--normal-gray);
  flex: none;
  position: relative;
  margin: 0 auto;
  transition: all 0.3s;
}

.logo__img {
  height: 70px !important;
  text-align: center;
}

.nav__link {
  text-align: left;
  display: flex;
  align-items: center;
  color: var(--dark-color);
  transition: all var(--transition);
  background-color: var(--gray-color);
}

.nav__link:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.nav__link span {
  margin-top: 1px;
}

/* .nav__link:hover span {
} */

.toggle__bar {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 5px;
  right: -40px;
  z-index: 2;
}
