:root {
  --white-color: #ffffff;
  --primary-color: #251d58;
}

img {
  max-height: 100%;
}

/* Custom CSS */
.btn {
  color: var(--white-color) !important;
  background-color: var(--primary-color);
}
