/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
  --white-color: #ffffff;
  --normal-gray: #f6f6f6;
  --gray-color: #dddddd;
  --dark-gray: #606268;
  --dark-color: #444444;
  --primary-color: #251d58;
  --secondary-color: #1f1632;
  --green-normal-color: #16322e;
  --transition: 0.3s;
}

/* Custom Styles */
body {
  font-family: 'Poppins', sans-serif;
}

img {
  max-height: 100%;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

p {
  color: var(--dark-gray);
}

/* Custom Class Styles */
.btn__color {
  color: var(--white-color) !important;
  background-color: var(--primary-color);
}

.edit {
  color: green !important;
}

.delete {
  color: red !important;
}
